subproject4/data/output1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="modelclass1.Person">
		 <xs:sequense>
			 <xs:element name="serialVersionUID" type="xs:long" fixed="-618265888698742953" />
			 <xs:element name="fullname" type="xs:string" fixed="Kalle Makinen" />
			 <xs:element name="age" type="xs:integer" fixed="40" />
			 <xs:element name="isonline" type="xs:boolean" fixed="false" />
			 <xs:element name="birthdate" type="xs:date" fixed="Sun Jul 26 00:00:00 EEST 1992" />
		 </xs:sequense>
	</xs:element>
</xs:schema>